### Thanks to the developers of the very useful dependencies...

* [@9fv.io/notimplemented-error](https://github.com/9fv/node-notimplemented-error) by [9fv.io](https://github.com/9fv/)
* [@pigalle/entities.plugin](https://github.com/pigalle-io/pigalle.entities.plugin) by [pigalle.io](https://github.com/pigalle-io/)
